body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}

/* Site Template */
#title h1 {
  text-align: center;
}

/* Navigation */
#nav {
  margin: 0 auto 10px auto;
  padding: 0;
  text-align: center;
  width: 80%;
}

ul {
    background-color: #4a538a;
    list-style-type: none;
    padding: 10px;
    margin: 0;
    text-align: center;
}

li {
    color: white;
    display: inline;
    font-weight: bold;
    padding: 15px;
}

/* Content Container */
#container {
  background-color: rgba(200,200,200,0.5);
  display: block;
  font-size: 18px;
  height: 100%;
  margin: 0 auto;
  padding: 5%;
  width: 70%;
}

/* Footer */
footer {
  background-color: #CECECE;
  color: grey;
  display: block;
  font-size: 10px;
  margin: 10px auto 0 auto;
  padding: 10px 0;
  text-align: center;
  width: 80%;
}
